@model KYC
<div>
    <a class="btn btn-primary" asp-controller="KYC" asp-action="Create">Add Employee</a>
</div>

<table class="table table-bordered table-responsive table-hover">

    <tr>
        <th>empId </th>
        <th>empName </th>
        <th>empPhone </th>
        <th>empRole</th>
        <th>empCity</th>
    </tr>
@*    @foreach(var manoj in Model)
    { *@
        <tr>
            <td>@Model.empId</td>
            <td>@Model.empName</td>
            <td>@Model.empPhone</td>
            <td>@Model.empRole</td>
            <td>@Model.empCity</td>
        </tr>
        

 @*    } *@

</table> 